@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7a60ec;
  --color-secondary: #b74ca8;
}

.active {
  @apply bg-gradient-to-l from-primary to-secondary text-white
}